<div class="max-w-5xl mx-auto p-6">
  <h2>Add Task to Master Schedule</h2>
  <input
    [value]="newTitle()"
    (blur)="newTitle.set($any($event.target).value)"
    class="w-80 rounded border border-slate-300 bg-white px-2 py-1 text-center focus:border-blue-500 focus:outline-none"
  >
  <button (click)="add()" class="px-4 py-2 text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 rounded-lg focus:ring-4 focus:outline-none focus:ring-green-300 transition-colors duration-200">
    Add to Schedule
  </button>
  <hr>
  <h1 class="text-3xl font-bold text-slate-800 mb-4">
    Master Cleaner`s Schedule
  </h1>
  <h3>Each task will be assigned once per day</h3>

  <hr class="mb-6 border-slate-300">

  <div class="overflow-x-auto rounded-lg border border-slate-200 shadow-sm">
    <table class="min-w-full divide-y divide-slate-200">
      <thead class="bg-slate-100">
        <tr>
          <th class="px-4 py-3 text-left text-sm font-semibold text-slate-700">
            Title
          </th>
          <th class="px-4 py-3 text-center text-sm font-semibold text-slate-700">
            Active
          </th>
          <th class="px-4 py-3 text-center text-sm font-semibold text-slate-700">
            Interval
          </th>
        </tr>
      </thead>

      <tbody class="divide-y divide-slate-100 bg-white">
        @for (t of schedules(); track t.id) {
          <tr class="hover:bg-slate-50">
            <textarea rows="1" 
                [value]="t.title"
                (blur)="updateSchedule(t.id, 'title', $any($event.target).value)" 
                #myTextarea (keydown.enter)="myTextarea.blur()"
                class="w-64 resize-none rounded-md border border-slate-300 p-2 text-sm focus:outline-none">
                
              </textarea>

            <td class="px-4 py-3 text-center">
              <input
                type="checkbox"
                [checked]="t.active"
                (change)="updateSchedule(t.id, 'active', $any($event.target).checked)" 
                class="h-5 w-5 cursor-pointer rounded border-slate-300"
              >
            </td>
            
            <td>
              <select
                [value]="t.interval"
                (change)="updateSchedule(t.id, 'interval', $any($event.target).value)"
                class="form-select"
              >
                <option value="" disabled>Select an interval</option>
              
                @for (option of ["None","Hourly","Daily","Weekly"]; track option) {
                  <option [value]="option">{{ option }}</option>
                }
              </select>
            </td>
            <td>
              <button (click)="update(t)" class="px-4 py-2 text-sm font-medium text-white bg-green-600 rounded-lg hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-red-300 transition-colors duration-200">
                Save
              </button>
            </td>
            <td>
              <button (click)="remove(t.id)" class="px-4 py-2 text-sm font-medium text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 transition-colors duration-200">
                Delete
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>